# MongoDB
**Instructions:**
1. Open MongoDB Compass.
2. Create the 'movies' collection in the 'movie' database. 
3. Import the 'movie.json' file into the MongoDB database.

In [36]:
from pymongo import MongoClient
import pandas as pd

client = MongoClient('mongodb://localhost:27017/')
# client = MongoClient("localhost", 27017)

#### Show database names

In [24]:
dbs = client.list_database_names()
print(dbs)

['admin', 'company', 'config', 'foodEmp', 'local', 'movie', 'production']

#### Show collection names

In [34]:
movie_db = client["movie"]
collections = movie_db.list_collection_names()
print(collections)

['movies']

## Select

In [11]:
filter={
    'title': {
        '$regex': 'avenger',
        '$options': 'i'
    },
    'names.imdb_name_id': 'nm0000375', # Robert Downey Jr.'s name_id
    'year': {
        '$gt': 2000
    }
}
project={
    '_id': 0
}
sort=list({
    'avg_vote': -1
}.items())

result = client['movie']['movies'].find(
  filter=filter,
  projection=project,
  sort=sort
)

df = pd.DataFrame(list(result))
df

,imdb_title_id,title,year,genres,duration,names,avg_vote
0,tt4154756,Avengers: Infinity War,2018,"[Action, Adventure, Sci-Fi]",149,"[{'imdb_name_id': 'nm0000375', 'category': 'ac...",8.4
1,tt4154796,Avengers: Endgame,2019,"[Action, Adventure, Drama]",181,"[{'imdb_name_id': 'nm0000375', 'category': 'ac...",8.4
2,tt0848228,The Avengers,2012,"[Action, Adventure, Sci-Fi]",143,"[{'imdb_name_id': 'nm0000375', 'category': 'ac...",8.0
3,tt2395427,Avengers: Age of Ultron,2015,"[Action, Adventure, Sci-Fi]",141,"[{'imdb_name_id': 'nm0000375', 'category': 'ac...",7.3

## Insert

**Important:** In MongoDB, a database is not created until it gets content!

In [29]:
test_db = client.test
collection = test_db.test01

post = {"_id": 0, "name": "Tim", "score": 5}
collection.insert_one(post)

In [39]:
post1 = {"_id": 5, "name": "Joe"}
post2 = {"_id": 6, "name": "Bill"}
collection.insert_many([post1, post2])

## Update

In [40]:
results = collection.update_one({"_id": 5}, {"$set": {"name": "Tim"}})

## Delete

In [41]:
results = collection.delete_one({"_id": 0})
results = collection.delete_many({})